*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    border: 1px solid black;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    width: 100px;
    height: 50%;
}

.ul ul{
    display: flex;
    gap: 20px;
    list-style: none;
    font-size: 18px;
}

button{
    background-color: transparent;
    border: none;
}

#button a{
    display: none;
}