*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    border: 1px solid white;
    width: 700px;
    height: 80vh;
    display: grid;
    justify-content: center;
}

h1{
    text-align: center;
    margin-top: 20px;
}
.card1{
    border: 20px solid cyan;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.card1 h1{
    font-size: 120px;
    margin-top: -30px;
}

.card1 h2{
    font-size: 40px;
    margin-top: -100px;
}
.button{
    display: flex;
    gap: 20px;
    margin-top: 10px;
}

.button button{
    width: 100%;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 20px;
}

#statbtn:hover{
    background-color: rgb(2, 255, 2);
    color: black;
}
#stopbtn:hover{
    background-color: red;
    color: black;
}


.input{
    display: flex;
    justify-content: center;
    width: 100%;
}
.input input{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 5px;
    margin-top: 10px;
}