*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    padding: 20px 0px;
}

.section{
    height: 500px;
    position: relative;
}
.section-image{
    width: 100%;
    height: 100%;
}
.section button{
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid black;
}
.section button:hover{
    border: 1px solid white;
    transform: rotate(360deg);
    transition-duration: 1s;
}
.section .image1{
    position: absolute;
    width: 100%;
    top: 50%;
}
.section p{
    font-size: 20px;
    text-align: center;
}