* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid black;
    width: 1000px;
    height: 600px;
    position: relative;
}
.card button{
    width: 50px;
    height: 50px;
    color: white;
    background-color: transparent;
    border-radius: 30px;
    font-size: 20px;
    border: 1px solid black;
}
.card button:hover{
    border: 1px solid white;
    transform: rotate(360deg);
    transition-duration: 1s;
}
.card .image1{
    position: absolute;
    width: 100%;
    top: 50%;
}
.card p{
    font-size: 20px;
    text-align: center;
}
.section-image{
    width: 100%;
    height: 100%;
}