.border{
    border: 1px solid black;
    height: 2766px; 
}

.background{
    border: 1px solid black;
    height: 700px;
}

.box1{
    border: 0px solid black ;
    height: 700px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./image/background);
}

.box2{
    border: 1px solid black;
    height: 450px;
    background-color: black;
    display: flex;
}

.box3{
    border: 1px solid black ;
    height: 150px;
    border-radius: 100px;
    margin-left: 30px;
    width: 20px;
    display: inline-block;
    background-color: aliceblue;
}

.box4{
    border: 1px solid black ;
    height: 100px;
    padding-top: 50px;
    padding-left: 50px;
    color: white ;
    background-color: black;
}



.box6{
   border: 1px solid black;
   height: 100px;
   font-size: 30px;
   display: flex;
   align-items: center;
   text-decoration: underline;
   color: white;
   background-color: black;
   padding-left: 50px;
}


.box7{
   border: 0px solid black;
   height: 500px;
   display: flex;
   background-color: black;
}

.box8{
    border: 0px solid white;
    width: 25%;
    color: white;
    font-size: 30px;
    padding-top: 50px;
}

.box9{
    border: 1px solid black;
    height: 150px;
    width: 100%;
    background-color: black;
    color: white;
}

.box10{
    border: 1px solid black;
    height: 50px;
    display: flex;
    background-color: black;
    color: white;
}

.box11{
    border: 1px solid black;
    height: 450px;
    background-color: black;
    display: flex;
}

.pokemon{
   border: 10px solid black;
   height: 100px;
   width: 100%;
   background-color: black;
 }

 .placeholder2{
   border: 1px solid black;
   height: 30px;
   display: flex;
   margin-left: 450px;
   margin-top: 20px;
}
 .word{
   font-size: 20px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .button5{
   border: 1px solid black;
   height: 30px;
   width: 100px;
   background-color: red;
   color: white;
   border-radius: 10px;
   margin-left: 20px;
   display: flex;
   justify-content:center;
   align-items: center;
 }


.font{
    font-size: 60px;
    padding-top: 50px;
    padding-left: 80px;
    color: red;
    display: inline-block;
}

.font2{
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

.font3{
    color: white;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.font4{
    color: white;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.font5{
    color: white;
    font-size: 40px;
    margin-top: 50px;
    margin-left: 100px;
}

.font6{
    color: white;
    font-size: 40px;
    margin-left: 100px;
}

.font7{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}

.font8{
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 10px;
}

.font9{
    color: white;
    font-size: 25px;
    display: flex;
    padding-top: 50px;
    padding-left: 50px;
    
}

.font10{
    margin-top: 50px;
    margin-left: 100px;
    text-decoration: underline;
}



.button{
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 750px;
    color: white;
}

.button1{
    font-size: 20px;   
    height: 50px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    margin-left: 50px;
    color: white;
    background-color: red;
     border-radius: 10px;
}    

.button2{
    font-size: 20px;   
    height: 30px;
    width: 150px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    background-color: red;
     border-radius: 5px;
     margin-left: 10px;
     justify-content: center;
     align-items: center;
}   



.button4{
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    width: 150px;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-left: 50px;
    color: white;
}

.placeholder{   
   margin-left: 350px;
   margin-top: 30px;
   display: flex;
   height: 30px;
   color: white;
}
.placeholder1{
    display: flex;
    margin-top: 20px;
    margin-left: 0px;
    height: 40px;
}


.image1{
    height: 300px;
    width: 200px;
    margin-top: 20px;
    margin-left: 150px;
    display: inline-block;
    img{
        border-radius: 10px;
    }
}

.image2{
    height: 300px;
    width: 200px;
    margin-top: 20px;
    margin-left: 50px;
    display: inline-block;
    img{
        border-radius: 10px;
    }
}

.card1{
    border: 1px solid black;
    width: 200px;
    height: 300px;
    margin-top: 50px;
    border-radius: 10px;
    margin-left: 120px;
    background: radial-gradient(circle,rgba(39, 202, 217, 1) 40%, rgba(133, 49, 163, 1) 93%);
}


.question{
    border: 1px solid black ;
    height: 50px;
    width: 1200px;
    margin-top: 10px;
    margin-left: 100px;
    color: white;
    background-color: rgba(131, 131, 115, 0.877);
    display: flex;
    padding-left: 20px;
    align-items: center;
    
}

.plus{
    float: right;
    margin-left: 1030px;
    font-size: 30px;
}
.plus1{
    float: right;
    margin-left: 945px;
    font-size: 30px;
}

.plus2{
    float: right;
    margin-left: 1010px;
    font-size: 30px;
}

.plus3{
    float: right;
    margin-left: 1025px;
    font-size: 30px;
}

.plus4{
    float: right;
    margin-left: 950px;
    font-size: 30px;
}

.plus5{
    float: right;
    margin-left: 985px;
    font-size: 30px;
}

.logo1{
    padding-top: 120px;
    padding-left: 130px;
    font-size: 40px;
}

.logo2{
    padding-top: 80px;
    padding-left: 140px;
    font-size: 40px;
}

.logo3{
    padding-top: 140px;
    padding-left: 140px;
    font-size: 40px;
}

.logo4{
     padding-top: 90px;
    padding-left: 140px;
    font-size: 40px;
}