*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    user-select: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: end;
    color: white;
    background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}

.card{
    border: 1px solid white;
    height: 75vh;
    width: 1200px;
    border-radius: 30px 30px 0px 0px;
}


h1{
    text-align: center;
}


.question{
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 22px;
    height: auto;
}

.list{
    margin-top: 30px;
    height: 380px;
    list-style-type: upper-alpha;
    padding-left: 50px;
    

    li{
        height: 70px;
        margin-bottom: 20px;
        border: 1px solid white;
        padding-top: 20px;
        padding-left: 10px;
        border-radius: 20px;
        margin-right: 30px;
        
    }
    li:hover{
        background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    }
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 20px;

    button{
        width: 100px;
        height: 50px;
        border-radius: 5px;
        background-color: transparent;
        border: 1px solid white;
        color: white;
    }
}

#next:hover{
    border: none;
    background-image: linear-gradient(to top, #06f88f 0%, #3cba92 100%);
}

#pre:hover{
    border: none;
    background-image: linear-gradient(to top, #ff0844 0%, #fd784f 100%);
}
#skip:hover{
    border: none;
    background-image: linear-gradient(to right, #f83600 0%, #f9d423 100%);
}

.correct{
    border-color: rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

.wrong{
    background-color: red;
    border-color: red;
}