.border{
    border: 5px solid black;
    height: 100vh;
}

h1{
    text-align: center;
}

.box1{
    border: 1px solid black;
    background-color: rgb(226, 222, 222);
    height: 80px;
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}


.section{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    margin: 10px ;
    gap: 20px;
}

@media(max-width :576px){
    .section{
        grid-template-columns: 1fr;
        row-gap: 15px;
        
    }
}