* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(242, 243, 245);
    user-select: none;
}

.main-menu {
    display: none;
}

.menu1 {
    display: none;
}

header {
    border: 1px solid white;
    background-color: white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;


    input {
        background-color: rgb(240, 245, 255);
        width: 500px;
        height: 40px;
        border-radius: 10px;
        border: none;
        padding-left: 40px;
    }
}

header .login {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
    transition: all 3s ease-in;

    p {
        font-size: 18px;

        color: rgba(0, 0, 0, 0.693);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


    }

    p i {
        transition: transform 1s ease;
    }

    #login-ul {
        position: absolute;
        top: 40px;
        right: 0px;
        background-color: white;
        overflow: hidden;
        width: 250px;
        padding-left: 10px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



        li {
            padding-top: 10px;
            padding-bottom: 5px;
            display: flex;
            align-items: center;
            font-size: 15px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }

        .text {
            font-size: 15px;
        }

        .text1 {
            font-size: 15px;
            color: blue;

            a {
                text-decoration: none;
                font-weight: bold;
            }
        }
    }




}

.login i {
    border: none;
}


.shopping {
    display: flex;
    gap: 10px;
    align-items: center;

    font-size: 18px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.three {
    border: none;
    cursor: pointer;
    margin-top: 5px;
    background-color: transparent;
    position: relative;
}

#login-ul1 {
    position: absolute;
    top: 65px;
    right: 30px;
    background-color: white;
    overflow: hidden;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
    }
}

#login-ul2 {
    position: absolute;
    top: 65px;
    right: 30px;
    background-color: white;
    overflow: hidden;
    width: 250px;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


    li {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
        padding-left: 10px;
    }
}

.icon {
    position: absolute;
    left: 10px;
    top: 12px;
}

.menu-main {
    position: relative;
}

#menu-ul {
    position: absolute;
    top: 50px;
    overflow: hidden;
    right: 20px;
    background-color: white;
    width: 100px;
    right: -8px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    flex-direction: column;


    li {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
    }

    li a {
        text-decoration: none;
        color: black;
    }
}




/* section css */


.box1 {
    height: 120px;
    width: 98%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 80px;
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
}

.card {
    /* border: 1px solid black; */
    min-width: 120px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* border-right: 1px solid black; */

}

.image {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-title {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}








































@media(max-width: 1150px) {
    header {
        justify-content: space-between;
        padding-left: 0;
        padding-right: 50px;
    }

    header input {
        width: 400px;
    }

    .menu {
        gap: 15px;

        .login a {
            font-size: 15px;
        }

        .shopping {
            font-size: 15px;
        }

    }

    .box1{
        justify-content: start;
    }
    .card {
        width: 240px;
        height: 100%;
    }

    .image-title {
        font-size: 10px;
    }
}








@media(max-width: 1000px) {
    header {
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        padding-right: 30px;
    }

    .logo {
        width: 100px;
    }

    header input {
        width: 300px;
    }

    .menu {
        gap: 15px;

        .login a {
            font-size: 12px;
        }

        .shopping {
            font-size: 12px;
        }


    }
}


@media(max-width: 1000px) {
    header {
        justify-content: space-between;
        align-items: center;
        padding-left: 0;
        padding-right: 10px;
    }

    .logo {
        width: 70px;
    }

    header input {
        width: 250px;
    }

    .menu {
        gap: 15px;

        .login a {
            font-size: 12px;
        }

        .shopping {
            font-size: 12px;
        }


    }
}


@media(max-width:670px) {
    header .login {
        display: none;
    }

    .shopping {
        display: none;
    }

    .main-menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .menu {
        display: none;
    }

    .menu1 {
        display: flex;
    }

    #login-ul2 {
        width: 200px;
        right: 110px;

        img {
            width: 30px;
            padding-right: 10px;
        }

        li {
            font-size: 12px;

            a {
                color: black;
                text-decoration: none;
            }
        }


    }

}

@media(max-width:500px) {
    #login-ul2 {
        width: 130px;
        right: 60px;



        img {
            width: 20px;
            padding-right: 5px;
        }

        li {
            font-size: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }

    #menu-ul {
        top: 40px;
        width: 50px;

        li {
            font-size: 12px;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
    .box1{
        height: 80px;
    }
    .card{
        min-width: 90px;
    }
    .image-title{
        font-size: 8px;
    }
}

@media(max-width:400px) {
    header input {
        width: 150px;
        font-size: 7px;
        padding-left: 25px;
    }

    .icon {
        font-size: 10px;
        top: 16px;
    }
}

@media(max-width:300px) {
    header input {
        display: none;
    }

    .icon {
        display: none;
    }
}